body {
      font-family: 'Roboto', Verdana, Arial, sans-serif;
      font-size: 15px;
      background-color: #313a44;
  }
  
  #main {
      width: 600px;
      margin: auto;
      margin-top: 20vh;
      border-radius: 3px;
  }
  
  .main-content {
      padding: 20px;
      margin: 10px;
      color: #fff;
      min-height: 300px;
  }
  
  #quote {
      font-weight: bold;
      font-size: 1.8em;
      font-style: italic;
      min-height: 100px;
  }
  
  #quote-author {
      text-align: right;
      font-size: 1.4em;
      padding-bottom: 15px;
      min-height: 50px;
      padding-top: 20px;
      border-top: 5px solid white;
      border-radius: 5px;
  }
  
  #buttons-inline {
      display: inline-block;
      width: 100%;
  }

.quote-wrapper {
  padding-bottom: 20px;
}
  
  span.align-left {
      float: left;
  }
  
  span.align-right {
      float: right;
  }
  
  .fa-twitter {
      color: #fff;
      padding-top: 5px;
  }
  
  .fa-twitter:hover {
      text-decoration: none;
      color: #fff;
      padding-top: 5px;
  }
  
  #quote-btn {
      font-size: 1.2em;
      height: 40px;
  }
  
  #twitter-btn {
      font-size: 1.2em;
      height: 40px;
  }
  
  .spacer {
      clear: both;
  }

span.quote-icon {
  font-family: FontAwesome;
}

p.tweet-it {
  display: inline-block;
  padding-left: 5px;
  font-family: 'Roboto', Verdana, Arial, sans-serif;
}